{% extends "user/dashboard.html" %}

{% import 'macros/form.html' as form %}

{% block dashboard_activity_stream_context %}{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('Import from ISO19115 XML') }}</h2>
  <div class="seeding-form-wrapper">
  	<form action="" method="post" class="form-horizontal col-md-6" id="seeding-form" enctype="multipart/form-data">
    	{{ form.input('dataset_xml', label=_('Upload ISO19115 XML file'), type="file", value="") }}
    	<input name="submit" id="upload-xml-btn" type="submit" class="btn btn-primary pull-right" value="Import ISO19115 XML"/>
    </form>
  </div>
{% endblock %}
